/*Main Content*/
div, footer, header, h1, h2, h3, img, label, li, nav, p, ul {
       border: 0;
       padding: 0;
       margin: 0;
}

body {
      background:#333333;
      overflow-x: hidden;
}

h1, h2, h3{
      font-family: 'Trade Winds', cursive;
      font-size: 4vw;
}

h4{
  font-family: 'Trade Winds', cursive;
  font-size: 3vw;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    font-weight: bold;
}

header {
      width: 100%;
      height: 20vw;
      background: #000000;
}

header:after{
      position: absolute;
      width: 120vw;
      height: 20vw;
      content: '';
      background: inherit;
      z-index: -1;
      top: 0;
      right: -5vw;
      bottom: 0;
      /* left: -1vw; */
      transform-origin: top right;
      transform:skewY(-4deg);
      box-shadow: 20px 5px 15px black, 15px 15px 8px red, 15px 10px 8px white;
}

#logo{
  margin-top: 2vw;
}
#CallUs{
  padding-top: 2vw;
}

/*Navigation Menu */
/* div.navigation-menu-button {
		display:none;
		float:right;
	}
nav.sitenavigation {
	/*margin-top: 2.5em;
	padding: .5em;
	text-align: right;
  color: red;
	font-size: 2vw;
	/*font-weight: bold;
  font-family: 'Trade Winds', cursive;
	float:right;
}
nav.sitenavigation li {
	display: inline-block;
	margin: 0.5em;
	padding: 0;
}
nav.sitenavigation a:link {
	text-decoration: none;
	color: red;
}
nav.sitenavigation a:visited {
	color: red;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus {
	color: #ffffff;
} */

#CallUs{
      margin-left: 49vw;
      margin-top: -17vw;
      text-align:  right;
      clear: right;
}

/* Skews letters */
#headerh2{
      -webkit-transform: rotate(-4deg);
      -moz-transform: rotate(-4deg);
      text-align: right;
      color:red;
      font-size: 2.5vw;
}

a:link {
	text-decoration: none;
	color: red;
}

a:hover{
  text-decoration: underline;
}

#TheShop{
      z-index: -2;
      background-image: url("images/Shop2.jpg");
      height: 33vw;
      width: 100vw;
      background-size: 100vw;
      position: relative;  /* Must stay to keep div skewed */
}

#iconDiv {
      padding: 1vw;
      background-color: red;
      box-shadow: 0 0 5px 15px red;
}

#icons{
      /* margin-right: 1vw; */
      margin-bottom: 2vw;
      padding: 1vw;
      text-align: center;
      color: white;
}

#mission {
      color:white;
      width: 100vw;
      background: black;
      text-align: center;
      padding: 3vw;
      padding-bottom: 5vw;
      box-shadow: 0 0 5px 15px black;
}

#diagnostics {
     color:black;
     width: 100vw;
     background: red;
     padding: 2vw;
     padding-bottom: 4vw;
     box-shadow: 0 0 5px 15px red;
}

#diagnosticDesc{
  margin-left: 5vw;
  padding: 1vw;
  width:45vw;
}

#Jeremiah{
  float: right;
  width: 40vw;
  padding: 1vw;
}

#blackTruck{
  width: 30vw;
}

#repair {
     color:white;
     background: black;
     padding: 1vw;
     padding-bottom: 5vw;
     box-shadow: 0 0 5px 15px black;
     width:100vw;
}
#repairDesc{
    padding: 1vw;
    margin-left: 2vw;
    width: 45vw;
}

#goldTruck{
    width: 45vw;
    margin: 2vw;
}

#tuning {
    color:black;
    width: 100vw;
    background: red;
    padding: 2vw;
    padding-bottom: 5vw;
    box-shadow: 0 0 5px 15px red;
}

#tuningDesc{
  margin-left: 5vw;
  padding-bottom: 2vw;
  text-align: center;
}

#shop{
  width: 70vw;
  margin-left: 15vw;
}

#performance {
    color:white;
    width: 100vw;
    background: black;
    padding: 2vw;
    box-shadow: 0 0 5px 15px black;
}

#performanceDesc{
  padding: 1vw;
  width:50vw;
  display: inline-block;
}
#slideShow{
  float: right;
  margin-right: 2vw;
  margin-top: 2vw;
  width: 40vw;
}
#slideShowImg{
  width: 20vw;
  margin-left: 10vw;
}
#slideShowDesc{
  color: white;
  font-style: italic;
  text-align: center;
}

#southbend{
  width: 30vw;
}
#fass{
  width: 25vw;
}

#support{
  color:black;
  width: 100vw;
  background: red;
  padding-bottom: 2vw;
  padding-left:20vw;
  box-shadow: 0 0 5px 15px red;
}

#weSupport{
  width: 35vw;
  padding: 1vw;
}

#pow{
  width: 20vw;
  padding: 1vw;
}

/* Footer */
footer{
    background: black;
    color:white;
    padding: .5vw;
    box-shadow: 0 0 5px 15px black;
}

#footerLogo{
  text-align: center;
  margin-top: 2vw;
}
#contactInfo{
  margin-left: 2vw;
}

/* Medium Screen */
@media only screen and (max-width: 992px)
{
  #iconDiv {
        visibility: hidden;
        position: absolute;
  }
}

/* Small Screen */
@media only screen and (max-width: 768px) {
    body{
      background-color: black;
    }

    p{
      font-size: 3vw;
      text-align: left;
    }

    h1{
      font-size: 6vw;
      text-align: center;
    }

    h2{
      font-size: 5vw;
    }

    h4{
      font-size: 4vw;
    }

    #headerh2{
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          text-align: center;
          font-size: 4vw;
    }

    header:after{
          position: relative;
          width: 100vw;
          /* height: 30%; */
          transform:skewY(0deg);
          box-shadow: none;
    }

    header {
          width: 100vw;
          position: relative;
          height:auto;
          /* height: 55vw; */
          background: #000000;
          margin-bottom: 1vw;
          padding: 0;
    }

    #CallUs{
          margin-left: 0vw;
          margin-top: -5vw;
    }

    /* #headerh2{
        font-size: 3.5vw;
    } */

    #TheShop{
          /* margin-top: 0; */
          /* z-index: -2; */
          /* background-size: 100vw; */
          position: relative;
          /* height: auto; */
    }

    #mission{
          box-shadow: none;
          text-align: center;
    }

    #diagnostics{
        box-shadow: none;
        align-items: center;
    }

    #diagnosticDesc{
      width:100vw;
    }

    #Jeremiah{
      float: none;
      margin-left: 25vw;
      width: 50vw;
        /* max-width: 85%;
        margin-left: 20vw; */
    }

    #repair{
        box-shadow: none;
        align-items: center;
    }

    #repairDesc{
      width: 100vw;
      margin-left: 5vw;
    }

    #goldTruck{
        width: 50vw;
        margin-left: 25vw;
        /* margin-top: -2vw; */
    }

    #tuning{
        box-shadow: none;
    }

    #tuning h1{
      padding-top: 1vw;
    }

    #shop{
        margin-left: 15vw;
    }

    #performance{
        box-shadow: none;
    }

    #slideShow{
        width:100vw;
        float: none;
        /* margin-left: 25vw; */
    }
    #slideShowImg{
      margin-left: 35vw;
      width: 35vw;
    }
    #slideShowDesc{
      width: 100vw;
    }

    #performanceDesc{
      width: 100vw;
      padding-left: 25vw;
      padding:2vw;
      padding-right: 10vw;
    }

    #southbend{
      margin-top: 1vw;
      margin-left: 15vw;
      /* max-width: 85%; */
    }

    #support{
      box-shadow: none;
      padding: 2vw;
      width:100vw;
      /* height: 25vw; */
      padding-left: 12vw;
    }

    footer{
        box-shadow: none;
        padding:2vw;
        padding-right: 4vw;
        margin:2vw;
    }
    #spider{
      padding: 2vw;
      width:85vw;
    }

    #contactInfo{
      margin-left: 0vw;
    }
}

/* Cell Phones */
@media only screen and (max-width: 575px){
   p{
      font-size: 4vw;
      margin:1vw;
      margin-right: 3vw;
      text-align: left;
  }

  #Jeremiah{
    width:70vw;
    margin-left: 15vw;
  }
  #goldTruck{
    width:70vw;
    margin-left: 15vw;
  }
  #shop{
  width:80vw;
  margin-left: 10vw;
  }
  #slideShow{
    /* width:70vw; */
    /* margin-left: 10vw; */
  }
  #slideShowImg{
    /* width: 50vw; */
  }
  #slideShowDesc{
    width: 80vw;
    margin-left: 10vw;
  }
#support{
  padding-left: 5vw;
}
#weSupport{
  width:45vw;
}
#pow{
  width: 35vw;
}

  footer span{
    visibility: hidden;
    position: absolute;
  }

  #contactInfo div{
    margin-bottom: 2vw;
  }

}
